body,
html {
  margin: 0;
  font-family: "Inter", sans-serif;
}

header {
  background-color: rgb(0, 0, 0);
}

.busqueda {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.busqueda .form {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.busqueda .form input {
  height: 30px;
  border-radius: 14px;
  border: none;
  width: 350px;
  padding: 20px;
  box-sizing: border-box;
}

.busqueda .social ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.busqueda .social ul li {
  padding: 0 10px;
}

.navega {
  padding: 10px 0;
}

.navega ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navega ul li a {
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
}

.navega ul li a:hover {
  text-decoration: underline;
}

section {
  height: 60px;
  align-content: center;
}

section#hero {
  height: 120px;
  background: url("hero_section.jpg");
  background-size: cover;
  background-position: bottom center;
}

section#hero .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.title-container span {
  display: block;
  color: white;
  font-weight: 700;
}
.title-container span:first-child {
  font-size: 40px;
}
.title-container span:last-child {
  font-size: 120px;
  line-height: 80px;
}

main {
  width: auto;
  padding: 10px;
}

.product-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.art {
  display: grid;
  flex: 0;
  width: 80%;
  margin: 10px auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  height: inherit;
  min-height: inherit;
  background-color: #cacfda;
  border-radius: 5px 5px 5px 5px;
}

.sub_image {
  margin: 10% 10%;
  width: 80%;
  height: 20px;
  border-radius: 5px 5px 5px 5px;
  height: 150px;
  object-fit: cover;
  object-position: center center;
}

.art .description_art {
  margin: auto 5px;
  text-align: start;
  justify-content: start;
}

.art .total_price {
  margin: auto 15px;
  text-align: center;
  font-family: Arial Narrow;
  font-size: 30px;
}

.art .description_art .title_art {
  margin: 0px 0px;
  font-family: Arial Narrow, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 23px;
  font-weight: bold;
  word-wrap: break-word;
  display: block;
}

.art .description_art .quantity {
  margin: 5px 2px;
  font-family: Arial Narrow, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  word-wrap: break-word;
  display: block;
}

.art .description_art .price_unit {
  margin: 5px 2px;
  font-family: Arial Narrow, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  word-wrap: break-word;
  display: block;
}

.art .description_art .quantity input {
  height: 30px;
  border-radius: 5px;
  border: none;
  width: 62px;
  margin-right: 8px;
  padding: 0 10px 0 20px;
  box-sizing: border-box;
}

.agregar_fav {
  width: 20%;
  background: #2e769b;
  color: white;
  font-weight: bold;
  border: none;
  height: 25px;
  border-radius: 5px;
  margin: 4px 2px 4px 2px;
}
.suma_total {
  width: 35%;
  margin: 10px 0px 10px auto;
  height: inherit;
  min-height: inherit;
  background-color: #b9c9ee;
  align-items: end;
  text-align: center;
  border-radius: 5px 5px 5px 5px;
}

.suma_total .resumen_suma {
  margin: 0px 5px;
  padding: 10px 0px 10px 0px;
  font-family: Arial Narrow, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 25px;
  word-wrap: break-word;
  display: block;
}

.suma_total .valor_total {
  display: flex;
  margin: 10px 15px;
  font-family: Arial Narrow, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 25px;
  word-wrap: break-word;
  justify-content: space-between;
}

.suma_total .impuesto {
  margin: 2px 6px 2px 0px;
  font-family: Arial Narrow, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  text-align: end;
  word-wrap: break-word;
  display: block;
}

.suma_total .button_pay {
  width: 90%;
  background: #1e4c61;
  color: white;
  font-weight: bold;
  border: none;
  height: 40px;
  border-radius: 10px;
  margin: 10px 5px 10px 5px;
}

.no_products {
  margin: 2px 6px 2px 0px;
  font-family: Arial Narrow, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 22px;
  text-align: center;
  word-wrap: break-word;
  display: block;
}

.bloque_precio {
  display: flex;
  margin: 5px 0;
  justify-content: space-between;
  align-items: center;
}

.product-card {
  background-color: #f0f0f0;
  border-radius: 14px;
  width: auto;
  overflow: hidden;
}
.info {
  padding: 20px;
  box-sizing: border-box;
  color: black;
}

.product-card a {
  text-decoration: none;
}

.titulo_articulo {
  font-size: large;
  font-weight: bold;
  word-wrap: break-word;
  display: block;
  line-height: 22px;
}

.descripcion_articulo {
  font-size: medium;
  font-weight: lighter;
  color: rgb(99, 88, 88);
  margin: 6px;
}

.tax_policy {
  font-size: small;
  font-weight: lighter;
  color: rgb(88, 101, 114);
}

.bloque_precio .precio_actual {
  font-size: 22px;
  font-weight: 700;
  flex: 1;
}
.bloque_precio .descuento {
  font-size: 12px;
  font-weight: 700;
  color: #428f13;
}

footer {
  background-color: #575e86;
}

footer .container {
  display: flex;
  flex-direction: column;
}

.columns-container {
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.columns-container .col ul {
  list-style-type: none;
  padding: 0;
}

.columns-container .col ul li {
  padding: 5px 0;
}

.columns-container .col ul li.col-main {
  font-weight: bold;
  padding-bottom: 20px;
}

.columns-container .col ul li a {
  color: white;
  text-decoration: none;
}

.copyright {
  border-top: 1px solid #d5c7df;
  text-align: center;
  color: rgb(179, 184, 199);
  font-weight: bold;
  padding: 30px 0;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .busqueda .form input {
    width: 250px;
  }
  .container {
    width: 100%;
  }

  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .navega ul li a {
    font-size: 14px;
  }

  section#hero {
    height: 150px;
    background: url("hero_section.jpg");
    background-size: cover;
    background-position: bottom center;
  }

  .title-container span:first-child {
    font-size: 30px;
  }

  .title-container span:last-child {
    font-size: 75px;
    line-height: 70px;
  }
}

@media (max-width: 425px) {
  main {
    padding: 5px;
  }

  .busqueda .logo img {
    width: 90px;
  }

  .busqueda .form input {
    width: 190px;
  }

  .container {
    width: 100%;
  }

  .navega ul li a {
    font-size: 8px;
  }
  .product-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .title-container span:first-child {
    font-size: 25px;
  }

  .title-container span:last-child {
    font-size: 60px;
    line-height: 70px;
  }
}
