body,
html {
  margin: 0;
  font-family: "Inter", sans-serif;
}

header {
  background-color: rgb(0, 0, 0);
}

.busqueda {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.busqueda .form {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.busqueda .form input {
  height: 30px;
  border-radius: 14px;
  border: none;
  width: 350px;
  padding: 20px;
  box-sizing: border-box;
}

.busqueda .social ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.busqueda .social ul li {
  padding: 0 10px;
}

.navega {
  padding: 10px 0;
}

.navega ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navega ul li a {
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
}

.navega ul li a:hover {
  text-decoration: underline;
}

main {
  width: auto;
  padding: 10px;
}

.container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: inherit;
  min-height: inherit;
  justify-content: center;
}

main .columns-container {
  flex: 1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0px 0px;
}

.product-images-block,
.product-description-block,
.product-checkout-block {
  flex: 1;
  margin: 0px 10px;
}

.product-images-block {
  display: grid;
  grid-template-columns: 1fr 5fr;
  max-width: 100%;
  overflow: hidden;
}

.product-images-block .thumbnail-container {
  grid-column: 1;
  margin: 3px;
}

.product-images-block .thumbnail-container img {
  max-width: 100%;
  height: auto; /* Mantiene la relación de aspecto de la imagen */
  object-fit: contain; /* Asegura que la imagen se ajuste completamente dentro del contenedor */
  object-position: center center; /* Centra la imagen en el contenedor */
}

.product-images-block .main-image {
  width: 100%;
  grid-row: 1 / 5;
  grid-column: 2 / 5;
}

.product-description-block .titulo {
  flex: 1;
  color: #502525; /* Elige un color adecuado */
  font-size: 24px; /* Ajusta el tamaño según sea necesario */
  font-weight: bold;
  margin-top: 0;
  word-wrap: break-word;
}

.product-description-block .selector fieldset {
  border: 2px #919191 solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  border-radius: 15px;
  font-size: 15px;
}

.product-description-block .selector fieldset select {
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.product-description-block .descripction h1 {
  color: #0e1a5f;
  font-size: 25px;
  font-weight: lighter;
  word-wrap: break-word;
}

.product-description-block .descripction p {
  color: #34384e;
  font-size: 16px;
  font-weight: lighter;
  word-wrap: break-word;
}

.checkout-container {
  background-color: #6154d6; /* Color de fondo claro */
  padding: 15px; /* Espaciado interno */
  border-radius: 2px; /* Bordes ligeramente redondeados */
}

.checkout-total-label {
  color: #150c96; /* Color distintivo para el texto 'Total:' */
  font-size: 26px;
}

.checkout-total-price {
  font-size: 28px; /* Tamaño grande para el precio */
  font-weight: 700; /* Fuente en negrita */
  margin-top: 10px; /* Espacio por encima del precio */
}

.checkout-description {
  line-height: 20.4px; /* Espaciado de línea para mejorar la legibilidad */
  word-wrap: break-word; /* Asegura que el texto no desborde el contenedor */
}

.checkout-policy-list {
  list-style-type: none; /* Elimina los marcadores de lista */
  margin-bottom: 30px; /* Espacio debajo de la lista */
}

.checkout-policy-list li {
  display: flex; /* Alineación horizontal de íconos y texto */
  margin: 15px 0; /* Espacio entre elementos de la lista */
}

.checkout-policy-list li .policy-icon {
  margin-right: 15px; /* Espacio entre el ícono y el texto */
}

.checkout-process .top {
  display: flex; /* Alinea el input y el botón horizontalmente */
  margin-bottom: 10px; /* Espacio debajo del grupo superior */
}

.checkout-process .top input {
  height: 45px;
  border-radius: 10px;
  border: none;
  width: 62px;
  margin-right: 10px;
  padding: 0 10px 0 20px;
  box-sizing: border-box;
}

.btn-primary {
  width: 100%;
  background: #5eadd1;
  color: white;
  font-weight: bold;
  border: none;
  height: 45px;
  border-radius: 10px;
}

.btn-outline {
  width: 100%;
  border: 1px solid #0f0e58;
  color: #0f0e58;
  font-weight: 900;
  font-size: 15px;
  height: 45px;
  border-radius: 10px;
}



.product-imagen {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center center;
}

.bloque_precio {
  display: flex;
  margin: 5px 0;
  justify-content: space-between;
  align-items: center;
}

.sales-block {
  display: grid;
  
  margin-top: 20px;
  padding: 50px;
  justify-items: center;
  align-items: center;
  grid-gap: 20px;
  
}
.product-container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 20px;
  
}

.sales-block a {
  text-decoration: none;
  color: initial;
}

.sales-block h2 {
  grid-row: 1;
  grid-column: 1;
  justify-self: center;
  text-align: center;
  font-size: 40px;
}

.product-card {
  background-color: #f0f0f0;
  border-radius: 14px;
  width: auto;
  overflow: hidden;
}

.info {
  padding: 20px;
  box-sizing: border-box;
  color: black;
}

.titulo_articulo {
  font-size: large;
  font-weight: bold;
  word-wrap: break-word;
  display: block;
  line-height: 22px;
}

.descripcion_articulo {
  font-size: medium;
  font-weight: lighter;
  color: rgb(99, 88, 88);
  margin: 6px;
}

.tax_policy {
  font-size: small;
  font-weight: lighter;
  color: rgb(88, 101, 114);
}

.bloque_precio .precio_actual {
  font-size: 22px;
  font-weight: 700;
  flex: 1;
}
.bloque_precio .descuento {
  font-size: 12px;
  font-weight: 700;
  color: #428f13;
}

footer {
  background-color: #162163;
}

footer .columns-container {
  flex: 1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

footer .container {
  display: flex;
  flex-direction: column;
}

.columns-container .col ul {
  list-style-type: none;
  padding: 0;
}

.columns-container .col ul li {
  padding: 5px 0;
}

.columns-container .col ul li.col-main {
  font-weight: bold;
  padding-bottom: 20px;
}

.columns-container .col ul li a {
  color: white;
  text-decoration: none;
}

.copyright {
  border-top: 1px solid #d5c7df;
  text-align: center;
  color: rgb(179, 184, 199);
  font-weight: bold;
  padding: 30px 0;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .busqueda .form input {
    width: 250px;
  }
  

  .product-images-block {
    grid-template-rows: 20px 1fr;
  }

  .product-checkout-block {
    flex: 0;
    max-width: 100%;
  }

  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .sales-block h2 {
    font-size: 20px;
    grid-column: 1;
    grid-row: 1;
  }

  footer .container {
    width: 600px;
  }

  .navega ul li a {
    font-size: 14px;
  }
}

@media (max-width: 425px) {
  main {
    padding: 5px;
  }

  .busqueda .logo img {
    width: 90px;
  }

  .busqueda .form input {
    width: 190px;
  }

  .container {
    width: 100%;
  }

  .navega ul li a {
    font-size: 8px;
  }
  .product-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .title-container span:first-child {
    font-size: 25px;
  }

  .title-container span:last-child {
    font-size: 60px;
    line-height: 70px;
  }
}
